@model IEnumerable<CollegeApp.Models.Billlocal>

@{
    ViewData["Title"] = "Confirm Sale";
}

<div class="card mt-4">
    <div class="card-body">
        <div class="">
            <h1 class="text-center">Confirm Sale</h1>
        </div>
        <hr>
        <div class="d-flex flex-column">
            <h5>Bill Details</h5>
            <div>
                <table>
                    <tbody>
                        <tr class="d-flex justify-content-start">
                            <td>Date:</td>
                            <td class="mx-2">@ViewBag.CurrentDate</td>
                        </tr>
                    </tbody>
                </table>
                <p class="m-0">Products Added:</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Name)</td>
                            <td>@Html.DisplayNameFor(model => model.Price)e</td>
                            <td>@Html.DisplayNameFor(model => model.Quantity)</td>
                            <td>@Html.DisplayNameFor(model => model.Totalprice)</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Totalprice)
                                </td>

                            </tr>
                        }
                        <tr>
                            <td colspan="4">
                                <div class="d-flex justify-content-start" style="font-weight: bold;">
                                    <h4>Grand Total: </h4>
                                    <h4 class="mx-2">@ViewBag.GrandTotal<span>rs</span></h4>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-start align-content-center">
            <a asp-action="Cancel" class="btn btn-secondary text-light mr-2">Cancel</a>
            <a asp-action="BillConfirmed" class="btn text-light"
               style="background-color: #7386D5;">Confirm</a>
        </div>
    </div>
</div>
